# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage

# NYC
.nyc_output

# Grunt
.grunt

# Bower
bower_components

# Dependencies
filter/node_modules/
api/node_modules/
jspm_packages/

# NPM
.npm

# Env
.env

# Misc
.vagrant